{% extends 'base.html' %}

{% block title %}Confirm Delete{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Confirm Delete</h1>
        <p>Are you sure you want to delete the book "{{ book.title }}"?</p>
        
        <form method="post" action="{% url 'delete_book' pk=book.title %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
        </form>

        <a href="{% url 'book_list' %}" class="btn btn-secondary mt-3">Cancel</a>
    </div>
{% endblock %}
